{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Task List</h1>

        {% if tasks is empty %}
            <div class="alert alert-warning text-center" role="alert">
                No tasks found.
            </div>
        {% else %}
            <div class="row">
                {% for task in tasks %}
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <div class="card-body">

                            <a href="{{ path('task_show', {'id' : task.id}) }}" class="text-decoration-none text-dark">

                                <h5 class="card-title">{{ task.title }}</h5>
                                <p class="card-text mb-3">{{ task.description }}</p>
                                <span class="badge {% if task.status == 'In Progress' %}bg-primary {% elseif task.status == 'Pending' %} bg-warning {% else %} bg-success {% endif %}">{{ task.status }}</span>
                                <p class="text-muted mt-2">
                                    📅 Due Date: <strong>{{ task.dueDate|date('d M Y') }}</strong>
                                </p>
                            </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-muted mt-5">
                    <p class="text-center">
                        <a href="{{ path('task_new_form') }}" class="btn btn-primary">Create New Task</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}